@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 135px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --st: #000046;
  --nd: #0262c2;
  --rd: #038ae4;
  --th: #ededed;
}

body {
  font-size: 1.2rem;
  background: linear-gradient(180deg, #000814, #001d3d);
  color: var(--th);
}

nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg,rgba(0, 46, 116, 1) 0%,rgba(0, 29, 61, 1) 100%);
  color: var(--th);
  padding: 27px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}

ul li {
  list-style: none;
  display: inline;
  color: var(--th);
  margin: 10px;
}

a {
  display: inline-block;
  color: var(--th);
  transition: 0.5s;
  text-underline-offset: 5px;
}

a:hover {
  transform: scale(1.1, 1.1) translateY(-2px);
  color: #a0a0a0;
}

#hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("nightroad.jpg");
  background-size: cover;
  background-position: center;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text {
  max-width: 800px;
  margin: 0 20px;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 15px;
}

.hero-text p {
  color: #c0c0c0;
  margin-bottom: 25px;
}

.cta {
  background: var(--nd);
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.cta:hover {
  background: var(--rd);
}

.pic1 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("m3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--th);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pic2 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("m5.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--th);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.pic1 h2,
.pic2 h2 {
  font-size: 2.2rem;
  padding: 15px 50px;
  animation: fadee 4s both;
  animation-timeline: view();
  animation-range: 0% cover 40%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.pic1 p,
.pic2 p {
  padding: 15px 50px;
  max-width: 70%;
  animation: fade 4s both;
  animation-timeline: view();
  animation-range: 0% cover 40%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

#models {
  padding: 40px 15px;
  margin: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  text-align: center;
  border: solid 4px var(--rd);
}

#models h3,
#models a {
  margin-top: 15px;
  animation: up 4s both;
  animation-timeline: view();
  animation-range: 0% cover 40%;
}

.picc {
  background-size: cover;
  background-position: center;
  padding: 160px 0px;
  transition: 1.2s;
  border: solid 4px var(--nd);
}

#m3 {
  background-image: url("m3.jpg");
}

#m5 {
  background-image: url("m5.jpg");
}

#x5 {
  background-image: url("x5.jpg");
}

#s7 {
  background-image: url("7series.jpg");
}

#z4 {
  background-image: url("z4.jpg");
}

.picc:hover {
  transform: scale(1.1, 1.1);
}

#contact {
  padding: 30px;
  background-color: var(--nd);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  max-width: 75%;
  margin: 50px auto;
  overflow: hidden;
}
#contact h2,
#contact p {
  padding: 10px;
  animation: fade 3s linear;
  animation-timeline: view();
  animation-range: 0% cover 40%;
}

.inputarea {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

input{
  flex: 1 1 200px; 
  max-width: 250px;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea{
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 10px;
  
}

#contact button {
  border: 0;
  border-radius: 10px;
  background: var(--rd);
  color: var(--th);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  display: block;
  margin: 20px auto 0 auto;
  padding: 12px 25px;
  font-size: 1.1rem;
}

#contact button:hover {
  background-color: #027cce;
  transform: scale(1.1, 1.1);
}

footer {
  text-align: center;
  margin: 25px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadee {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:820px){
  textarea{max-width: 500px; max-height: 60px;}
  #models{padding: 10px 5px; margin: 20px 5px;}
}

@media (max-width:768px){
  textarea{max-width: 500px; max-height: 60px;}
  #models{padding: 10px 5px; margin: 20px 5px;}
}

@media (max-width:480px){
  nav{font-size: 0.7rem; padding: 18px;}
  #about h2{font-size: 1.2rem; padding: 0px 17px;}
  #about p{font-size: 0.8rem;}
  #hero{height: 70vh;}
  .pic1, .pic2{height: 60vh;}
  #models{padding: 10px 5px; margin: 50px 5px;}
  #contact{padding: 10px; margin: 20px 50px;}
  #contact h2{font-size: 1.3rem; padding:5px}
  #contact p, #contact h3{font-size: 0.9rem;}
  input{max-width: 220px; max-height: 35px; width: 100%;}
  textarea{max-width: 220px; max-height: 60px; width: 100%;}
  #contact button{font-size: 0.8rem; margin: 2px auto; padding: 6px;}
  footer{font-size: 0.9rem; margin: 10px;}
}

@media (max-width:656px){
  textarea{max-width: 300px; max-height: 60px;}
  #models{padding: 10px 5px; margin: 20px 5px;}
}